<%- include('../partials/apphead.ejs') %>

<div class="row">
    <div class="col-12 ">
        <div class="bg-white">
            <ul class="list-unstyled row border">
                <div class="col-12  bg-main4 p-3 fs-h2 text-uppercase">
                    <%=data.bodystyle%>
                </div>
                <%data.brand.map((b)=>{%>
                <div class="p-3  border-bottom">
                    <div class="col-12 fs-h3 pb-2 text-uppercase">
                        <%=b.carbrand%>
                    </div>
                    <ul class="list-unstyled d-flex gap-3 overflow-auto hidescroll">
                        <% b.models.map((e)=>{ %>
                            <li class="hover-opacity col-8 col-md-5 col-lg-4">
                                <a href="<%=path%>/i" class="d-flex flex-column text-decoration-none text-dark">
                                    <div class="cover col-12">
                                        <div class="" style="padding-bottom: 50%; background-image: url(<%=e.image%>); background-position: center; background-size: cover; background-repeat: no-repeat;" ></div>
                                    </div>
                                    <div class="col info d-flex flex-column pt-2">
                                        <div class="fs-h4 text-truncate"><%=e.title%></div>
                                        <div class="fs-normal"><%=e.price%> THB</div>
                                    </div>
                                </a>
                            </li>
                        <%})%>
                    </ul>
                </div>
                <%})%>
                
            </ul>
        </div>
    </div>
</div>

<%- include('../partials/appfooter.ejs') %>
